In [1]:
## this notebook shows the functions in the package and their use.

In [2]:
import local_volume_database as lvdb
import astropy.table as table

## get_citations() example

In [3]:
## input for latex table, load locally
dsph_mw = table.Table.read('../data/dwarf_mw.csv')

In [4]:
test_system = dsph_mw[dsph_mw['M_V']<-7.7]
test_system = test_system[test_system['key']!='lmc']
test_system = test_system[test_system['key']!='smc']

In [5]:
reference_column = ['ref_structure', 'ref_distance', 'ref_vlos', 'ref_proper_motion', 'ref_metallicity_spectroscopic', 'ref_structure_king', 'ref_age', 'ref_structure_sersic', 'ref_metallicity_isochrone', 'ref_flux_HI']

In [6]:
reference_column_short= ['ref_structure', 'ref_distance', 'ref_vlos', 'ref_proper_motion', ]

In [7]:
## this lists the unique references for each system, and can be copied into latex
lvdb.get_citations(test_system, style='individual', reference_column=reference_column_short)

Antlia II \citep{Ji2021ApJ...921...32J, Pace2022ApJ...940..136P, Vivas2022ApJ...926...78V},
Canes Venatici I \citep{Kuehn2008ApJ...674L..81K, Munoz2018ApJ...860...66M, Pace2022ApJ...940..136P, Simon2007ApJ...670..313S},
Carina \citep{Karczmarek2015AJ....150...90K, Munoz2018ApJ...860...66M, Pace2022ApJ...940..136P, Walker2009AJ....137.3100W},
Crater II \citep{Ji2021ApJ...921...32J, Pace2022ApJ...940..136P, Torrealba2016MNRAS.459.2370T},
Draco \citep{Bhardwaj2024AJ....167..247B, Munoz2018ApJ...860...66M, Pace2022ApJ...940..136P, Walker2015MNRAS.448.2717W},
Fornax \citep{Oakes2022ApJ...929..116O, Pace2022ApJ...940..136P, Walker2009AJ....137.3100W, Wang2019ApJ...881..118W},
Leo I \citep{Bennet2024ApJ...971...98B, Mateo2008ApJ...675..201M, Munoz2018ApJ...860...66M, Stetson2014PASP..126..616S},
Leo II \citep{Bellazzini2005MNRAS.360..185B, Bennet2024ApJ...971...98B, Munoz2018ApJ...860...66M, Spencer2017ApJ...836..202S},
Sagittarius \citep{An2024MNRAS.532.3713A, McConnachie2012AJ....144....4M},
Sculptor \citep{MartinezVazquez2015MNRAS.454.1509M, Munoz2018ApJ...860...66M, Pace2022ApJ...940..136P, Walker2009AJ....137.3100W},
Sextans \citep{Lee2009ApJ...703..692L, Munoz2018ApJ...860...66M, Pace2022ApJ...940..136P, Walker2009AJ....137.3100W},
Ursa Minor \citep{Garofalo2024arXiv241012433G, Munoz2018ApJ...860...66M, Pace2022ApJ...940..136P, Spencer2018AJ....156..257S},

In [8]:
## this lists the unique references for all systems, and can be copied into latex
lvdb.get_citations(test_system, style='all', reference_column=reference_column_short )

\citep{An2024MNRAS.532.3713A, Bellazzini2005MNRAS.360..185B, Bennet2024ApJ...971...98B, Bhardwaj2024AJ....167..247B, Garofalo2024arXiv241012433G, Ji2021ApJ...921...32J, Karczmarek2015AJ....150...90K, Kuehn2008ApJ...674L..81K, Lee2009ApJ...703..692L, MartinezVazquez2015MNRAS.454.1509M, Mateo2008ApJ...675..201M, McConnachie2012AJ....144....4M, Munoz2018ApJ...860...66M, Oakes2022ApJ...929..116O, Pace2022ApJ...940..136P, Simon2007ApJ...670..313S, Spencer2017ApJ...836..202S, Spencer2018AJ....156..257S, Stetson2014PASP..126..616S, Torrealba2016MNRAS.459.2370T, Vivas2022ApJ...926...78V, Walker2009AJ....137.3100W, Walker2015MNRAS.448.2717W, Wang2019ApJ...881..118W}

## get_notes() example

In [9]:
## this lists the notes in the "notes" key in the yaml final
## there are details on measurements, classifications
lvdb.get_notes('tucana_3')

notes:	 tucana_3
tidal tails DrlicaWagner2015ApJ...813..109D + Shipp2018ApJ...862..114S + Li2018ApJ...866...22L
classification remains unclear with unresolved velocity dispersion + metallicity dispersion Simon2017ApJ...838...11S ; r-process abundances Hansen2017ApJ...838...44H + Marshall2019ApJ...882..177M ; large size MutluPakdil2018ApJ...863...25M ; inconclusive mass segregation Baumgardt2022MNRAS.510.3531B

In [10]:
## most systems do not have notes
lvdb.get_notes('tucana_2')

no notes tucana_2

## add_column() example

In [11]:
## this function adds a column to the catalog using the input yaml files 
## the inputs are 
## table to add data to
## YAML collection name (these separate out types of measurements)
## YAML key in the YAML collection above (these are the actual measurements)
## see code/example_yaml.yaml for the layout of the yaml files
## or the read the docs page
## https://local-volume-database.readthedocs.io/en/latest/usage.html#description-of-yaml-files

In [12]:
lvdb.add_column(test_system,'name_discovery','discovery_year', col_type=int)

In [13]:
test_system['key','name','discovery_year']

<Table length=12>
      key              name       discovery_year
     str16            str17           int64
---------------- ---------------- --------------
        antlia_2        Antlia II           2019
canes_venatici_1 Canes Venatici I           2006
        carina_1           Carina           1977
        crater_2        Crater II           2016
         draco_1            Draco           1955
        fornax_1           Fornax           1938
           leo_1            Leo I           1950
           leo_2           Leo II           1950
   sagittarius_1      Sagittarius           1994
      sculptor_1         Sculptor           1938
       sextans_1          Sextans           1990
    ursa_minor_1       Ursa Minor           1955

In [14]:
## none of these systems have this measurement in the LVDB
lvdb.add_column(test_system,'star_formation_history','tau_50', col_type=float)

In [15]:
test_system['key','name','tau_50']

<Table length=12>
      key              name        tau_50
     str16            str17       float64
---------------- ---------------- -------
        antlia_2        Antlia II      --
canes_venatici_1 Canes Venatici I      --
        carina_1           Carina      --
        crater_2        Crater II      --
         draco_1            Draco      --
        fornax_1           Fornax      --
           leo_1            Leo I      --
           leo_2           Leo II      --
   sagittarius_1      Sagittarius      --
      sculptor_1         Sculptor      --
       sextans_1          Sextans      --
    ursa_minor_1       Ursa Minor      --

In [16]:
## a new measurement but all the same
lvdb.add_column(test_system,'name_discovery','type', col_type='U25')

In [17]:
test_system['key','name','type']

<Table length=12>
      key              name        type
     str16            str17       str25
---------------- ---------------- -----
        antlia_2        Antlia II  dSph
canes_venatici_1 Canes Venatici I  dSph
        carina_1           Carina  dSph
        crater_2        Crater II  dSph
         draco_1            Draco  dSph
        fornax_1           Fornax  dSph
           leo_1            Leo I  dSph
           leo_2           Leo II  dSph
   sagittarius_1      Sagittarius  dSph
      sculptor_1         Sculptor  dSph
       sextans_1          Sextans  dSph
    ursa_minor_1       Ursa Minor  dSph